{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block title %}Login{% endblock %}
{% block content %}
    <main class="container">
        <div class="row">
            <div class="col-4"></div>
            <form method="post" class="col-4 mt-5">
                <h3>Registro de usuário</h3>
                {% csrf_token %}
                <input type="hidden" name="next" value="{{ next }}">
                {{ form|crispy }}
                <button class="btn btn-primary mt-3">Entrar</button>
            </form>
            <div class="col-4"></div>
        </div>
    </main>
{% endblock %}