{% extends 'base.html' %}
{% block title %}Ecommerce paraíso{% endblock %}
{% block content %}
    <main>
        <div class="container">
            <div className="container">
                <div className="jumbotron">
                    <h1 className="display-4 mt-3">Loja Paraíso</h1>
                    <p className="lead">Seja bem vindo a loja paraíso</p>
                    <hr/>
                    <p>Tudo que você precisa em uma só loja</p>
                </div>
                <a class="btn btn-primary" href="/home">Entrar</a>
            </div>
        </div>
    </main>
{% endblock %}